body, .login-page {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative; /* Add this */
    background:
      60px 60px/120px 120px linear-gradient(135deg, #45527a 10%, #2f3f70 0 25%, transparent 0 75%, #2f3f70 0 90%, #45527a 90%),
      0 0/120px 120px linear-gradient(135deg, #45527a 10%, #47617b 0 25%, transparent 0 75%, #47617b 0 90%, #45527a 90%),
      0 0/120px 120px linear-gradient(45deg, #45527a 10%, #2f3f70 0 25%, #47617b 0 40%, #45527a 0 60%, #47617b 0 75%, #2f3f70 0 90%, #45527a 90%);
  }
  
  .login-gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Add this */
    background: radial-gradient(circle at center, transparent, rgb(36, 39, 72) 50%, rgb(12, 15, 55) 80%);
  }
  
  .login-form {
    position: relative;
    z-index: 2; /* Add this */
  }

  .form-back {
    z-index: 2 !important;
  }